@using AuctionExpert.Web.ViewModels.Profile;
@model MyProfileViewModel

@{
    this.ViewData["Title"] = "My Profile";
}

<div class="inner-banner">
    <div class="container">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Dashboard</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
    </div>
</div>

<div class="dashboard-section pt-120 pb-120">
    <img alt="image" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-top">
    <img alt="image" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-bottom">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                <div class="nav flex-column nav-pills gap-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <button class="nav-link active nav-btn-style mx-auto  mb-20" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">
                        Dashboard
                    </button>
                    <button class="nav-link nav-btn-style mx-auto mb-20" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">
                        <i class="lar la-user"></i>
                        My Profile
                    </button>
                    <button class="nav-link nav-btn-style mx-auto mb-20" id="v-pills-order-tab" data-bs-toggle="pill" data-bs-target="#v-pills-order" type="button" role="tab" aria-controls="v-pills-order" aria-selected="true">
                        My Auctions
                    </button>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })" method="post">
                        <button class="nav-link nav-btn-style mx-auto" type="submit" role="tab">Logout</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
                        <div class="dashboard-area box--shadow">
                            <div class="row g-4">
                                <div class="col-md-6 col-sm-6">
                                    <div class="dashboard-card hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                        <div class="header">
                                            <h5>My auctions</h5>
                                        </div>
                                        <div class="body">
                                            <div class="counter-item">
                                                <h2>@Model.MyAuctions.Count()</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="dashboard-card hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                        <div class="header">
                                            <h5>My Active Auctions</h5>
                                        </div>
                                        <div class="body">
                                            <div class="counter-item">
                                                <h2>@Model.MyAuctions.Where(x => x.Status.ToString() == "Active").Count()</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="dashboard-card hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".4s">
                                        <div class="header">
                                            <h5>Total Bids Count</h5>
                                        </div>
                                        <div class="body">
                                            <div class="counter-item">
                                                <h2>@Model.TotalBidsCount</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="dashboard-profile">
                            <div class="owner">
                                @*TODO: CHECK FOR IMAGE*@
                                <div class="image">
                                    <img alt="image" src="~/assets/images/bg/pro-pic.png">
                                </div>
                                <div class="content">
                                    <h3>@Model.FirstName @Model.LastName</h3>
                                    <p class="para">Username: @Model.Username</p>
                                    <p class="para">Email: @Model.Email</p>
                                    <p class="para">City: @(Model.CityName == null ? "Please select a city" : Model.CityName)</p>
                                </div>
                            </div>
                            <div class="form-wrapper">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-md-6">
                                            <div class="form-inner">
                                                <label asp-for="@Model.UpdateProfileInput.FirstName">Frist Name</label>
                                                <input asp-for="@Model.UpdateProfileInput.FirstName" type="text" placeholder="Your First Name">
                                                <span asp-validation-for="@Model.UpdateProfileInput.FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 col-md-6">
                                            <div class="form-inner">
                                                <label asp-for="@Model.UpdateProfileInput.LastName">Last Name</label>
                                                <input asp-for="@Model.UpdateProfileInput.LastName" type="text" placeholder="Your Last Name">
                                                <span asp-validation-for="@Model.UpdateProfileInput.LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-inner">
                                                <label asp-for="@Model.UpdateProfileInput.Cities">City</label>
                                                <select asp-for="@Model.UpdateProfileInput.CityId">
                                                    @foreach (var city in Model.UpdateProfileInput.Cities)
                                                    {
                                                        <option value="@city.Id">@city.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-inner">
                                                <label asp-for="@Model.UpdateProfileInput.OldPassword">Old Password</label>
                                                <input asp-for="@Model.UpdateProfileInput.OldPassword" id="password" placeholder="Enter your old password" />
                                                <i class="bi bi-eye-slash" id="togglePassword"></i>
                                                <span asp-validation-for="@Model.UpdateProfileInput.OldPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-inner">
                                                <label asp-for="@Model.UpdateProfileInput.Password">Password</label>
                                                <input asp-for="@Model.UpdateProfileInput.Password" type="password" id="password" placeholder="Create A Password" />
                                                <i class="bi bi-eye-slash" id="togglePassword"></i>
                                                <span asp-validation-for="@Model.UpdateProfileInput.Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-inner mb-0">
                                                <label asp-for="@Model.UpdateProfileInput.ConfirmPassword">Confirm Password</label>
                                                <input asp-for="@Model.UpdateProfileInput.ConfirmPassword" type="password" id="password2" placeholder="Create A Password" />
                                                <i class="bi bi-eye-slash" id="togglePassword2"></i>
                                                <span asp-validation-for="@Model.UpdateProfileInput.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="button-group">
                                                <button asp-controller="User" asp-action="Dashboard" type="submit" class="eg-btn profile-btn">Update Profile</button>
                                                <button class="eg-btn cancel-btn">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-order" role="tabpanel"
                         aria-labelledby="v-pills-order-tab">
                        <!-- table title-->
                        <div class="table-title-area">
                            <h3>My Auction List</h3>
                            <select>
                                <option value="01">Show: Last 5 Auctions</option>
                                <option value="02">Show: Last 10 Auctions</option>
                                <option value="03">Show: Last 15 Auctions</option>
                                <option value="04">Show: Last 20 Auctions</option>
                            </select>
                        </div>

                        <!-- table -->
                        <div class="table-wrapper">
                            <table class="eg-table order-table table mb-0">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Initial Price</th>
                                        <th>Highest Bid</th>
                                        <th>Type</th>
                                        <th>Expires At</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var auction in Model.MyAuctions)
                                    {
                                        <tr>
                                            <td data-label="Image"><img alt="image" src="@auction.ImageUrl" class="img-fluid"></td>
                                            <td data-label="Initial Price">$@auction.StartPrice</td>
                                            <td data-label="Highest Bid">$@auction.HighestBid</td>
                                            <td data-label="Type">@auction.AuctionType</td>
                                            <td data-label="Expires At">@auction.ClosesIn</td>

                                            @if (auction.Status == "Active")
                                            {
                                                <td data-label="Status" class="text-green">@auction.Status</td>
                                            }
                                            else
                                            {
                                                <td data-label="Status" class="text-red">@auction.Status</td>
                                            }
                                            @if (auction.Status != "Finished")
                                            {
                                                <td data-label="Action">
                                                    <form method="post">
                                                        <button asp-controller="Auction" asp-action="Delete" asp-route-auctionId="@auction.Id" class="eg-btn action-btn text-danger">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- pagination area -->
                        <div class="table-pagination">
                            <p>Showing 10 to 20 of 1 entries</p>
                            <nav class="pagination-wrap">
                                <ul class="pagination style-two d-flex justify-content-center gap-md-3 gap-2">
                                    <li class="page-item">
                                        <a class="page-link" href="#" tabindex="-1">Prev</a>
                                    </li>
                                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">02</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="about-us-counter pb-120">
    <div class="container">
        <div class="row g-4 d-flex justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10 col-10">
                <div class="counter-single text-center d-flex flex-row hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="counter-icon"> <img alt="image" src="assets/images/icons/employee.svg"> </div>
                    <div class="coundown d-flex flex-column">
                        <h3 class="odometer" data-odometer-final="5400">&nbsp;</h3>
                        <p>Happy Customer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10 col-10">
                <div class="counter-single text-center d-flex flex-row hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="counter-icon"> <img alt="image" src="assets/images/icons/review.svg"> </div>
                    <div class="coundown d-flex flex-column">
                        <h3 class="odometer" data-odometer-final="1250">&nbsp;</h3>
                        <p>Good Reviews</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10 col-10">
                <div class="counter-single text-center d-flex flex-row hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="counter-icon"> <img alt="image" src="assets/images/icons/smily.svg"> </div>
                    <div class="coundown d-flex flex-column">
                        <h3 class="odometer" data-odometer-final="4250">&nbsp;</h3>
                        <p>Winner Customer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10 col-10">
                <div class="counter-single text-center d-flex flex-row hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".8s">
                    <div class="counter-icon"> <img alt="image" src="assets/images/icons/comment.svg"> </div>
                    <div class="coundown d-flex flex-column">
                        <h3 class="odometer" data-odometer-final="500">&nbsp;</h3>
                        <p>New Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@