@using AuctionExpert.Web.ViewModels.Administration.User;
@model PaginatedUsersListModel
@{
    this.ViewData["Title"] = "Users Administration";
}

<div class="container">
    <div class="row g-4">
        <div class="col g-3">
            <h2 class="text-center pt-80 pb-80">@this.ViewData["Title"]</h2>
            <div class="table-wrapper">
                <table class="eg-table order-table table mb-0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Join Date</th>
                            <th>Auctions Count</th>
                            <th>Profile</th>
                            <th>Manage Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td data-label="Image">
                                    @if (user.ProfileImageUrl != null)
                                    {
                                        <img alt="image" src="@user.ProfileImageUrl" class="img-fluid">
                                    }
                                    else
                                    {
                                        <img alt="image" src="~/assets/images/bg/NoProfilePicture.png" class="img-fluid">
                                    }
                                </td>
                                <td data-label="Username">@user.Username</td>
                                <td data-label="Email">@user.Email</td>
                                <td data-label="Join Date">@user.CreatedOn.ToLocalTime().ToShortDateString()</td>
                                <td data-label="Auctions Count">@user.AuctionsCount</td>
                                <td data-label="Profile"><a asp-area="" asp-controller="User" asp-action="SellerProfile" asp-route-userId="@user.Id" class="btn btn-sm btn-outline-secondary">Profile page</a></td>
                                @if (user.IsAdmin)
                                {
                                    <td data-label="Manage Roles">
                                        <form method="post">
                                            <button asp-area="Administration"
                                            asp-controller="Users"
                                            asp-action="RemoveFromRole"
                                            asp-route-userId="@user.Id" class="btn btn-sm btn-outline-danger">
                                                Remove Admin
                                            </button>
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    <td data-label="Manage Roles">
                                        <form method="post">
                                            <button asp-area="Administration"
                                            asp-controller="Users"
                                            asp-action="AddToRole"
                                            asp-route-userId="@user.Id" class="btn btn-sm btn-outline-success">
                                                Make Admin
                                            </button>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <partial name="_PagingPartial" model="@Model"/>
        </div>
    </div>
</div>