@using AuctionExpert.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/register-page.css">

    <link rel="icon" href="~/assets/images/bg/sm-logo.png" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- css file link -->
    <link rel="stylesheet" href="~/assets/css/all.css">

    <!-- bootstrap 5 -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- box-icon -->
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-icons.css">

    <!-- jquery ui -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">

    <!-- swiper-slide -->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">

    <!-- slick-slide -->
    <link rel="stylesheet" href="~/assets/css/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">

    <!-- select 2 -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">

    <!-- animate css -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <!-- odometer css -->
    <link rel="stylesheet" href="~/assets/css/odometer.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <div class="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <header class="header-area style-1">
        <div class="header-logo">
            <a href="index.html"><img alt="image" src="~/assets/images/bg/header-logo.png"></a>
        </div>
        <div class="main-menu">
            <div class="mobile-logo-area d-lg-none d-flex justify-content-between align-items-center">
                <div class="mobile-logo-wrap ">
                    <a href="index.html"><img alt="image" src="~/assets/images/bg/header-logo.png"></a>

                </div>
                <div class="menu-close-btn">
                    <i class="bi bi-x-lg"></i>
                </div>
            </div>
            <ul class="menu-list">
                <li class="menu-item-has-children">
                    <a href="#" class="drop-down">Home</a><i class='bx bx-plus dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="index.html">Home 1</a></li>
                        <li><a href="index2.html">Home 2</a></li>
                        <li><a href="index3.html">Home 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="about.html">About Us</a>
                </li>
                <li>
                    <a href="how-works.html">How It Works</a>
                </li>
                <li>
                    <a href="live-auction.html">Browse Product</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">News</a><i class='bx bx-plus dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#" class="drop-down">Pages</a><i class='bx bx-plus dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="auction-details.html">Auction Details</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
               
            </ul>
        </div>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="nav-right d-flex align-items-center">
                <div class="eg-btn btn--primary header-btn">
                    <a href="dashboard.html">My Account</a>
                </div>
            </div>
        }
        else
        {
            <div class="nav-right d-flex align-items-center">
                <div class="eg-btn btn--primary header-btn">
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            </div>
        }
    </header>

    @*<header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>*@

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <a href="index.html"><img src="~/assets/images/bg/footer-logo.png" alt=""></a>
                            <p>
                                Lorem ipsum dolor sit amet consecte tur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore.
                            </p>
                            <form>
                                <div class="input-with-btn d-flex jusify-content-start align-items-strech">
                                    <input type="text" placeholder="Enter your email">
                                    <button type="submit"><img src="~/assets/images/icons/send-icon.svg" alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex justify-content-lg-center">
                        <div class="footer-item">
                            <h5>Navigation</h5>
                            <ul class="footer-list">
                                <li><a href="live-auction.html">All Product</a></li>
                                <li><a href="how-works.html">How It Works</a></li>
                                <li><a href="login.html">My Account</a></li>
                                <li><a href="about.html">About Company</a></li>
                                <li><a href="blog.html">Our News Feed</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex justify-content-lg-center">
                        <div class="footer-item">
                            <h5>Help & FAQs</h5>
                            <ul class="footer-list">
                                <li><a href="product.html">Help Center</a></li>
                                <li><a href="faq.html">Customer FAQs</a></li>
                                <li><a href="login.html">Terms and Conditions</a></li>
                                <li><a href="about.html">Security Information</a></li>
                                <li><a href="blog.html">Merchant Add Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h5>Latest Feed</h5>
                            <ul class="recent-feed-list">
                                <li class="single-feed">
                                    <div class="feed-img">
                                        <a href="blog-details.html">
                                            <img src="~/assets/images/blog/recent-feed1.png"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="feed-content">
                                        <span>January 31, 2022</span>
                                        <h6>
                                            <a href="blog-details.html">Grant Distributions Conti nu to Incr Ease.</a>
                                        </h6>
                                    </div>
                                </li>
                                <li class="single-feed">
                                    <div class="feed-img">
                                        <a href="blog-details.html">
                                            <img src="~/assets/images/blog/recent-feed2.png"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="feed-content">
                                        <span>February 21, 2022</span>
                                        <h6><a href="blog-details.html">Seminar for Children to Learn About.</a></h6>
                                    </div>
                                </li>
                                <li class="single-feed">
                                    <div class="feed-img">
                                        <a href="blog-details.html">
                                            <img src="~/assets/images/blog/recent-feed3.png"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="feed-content">
                                        <span>March 22, 2022</span>
                                        <h6>
                                            <a href="blog-details.html">
                                                Education and teacher for all African
                                                Children.
                                            </a>
                                        </h6>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex align-items-center g-4">
                    <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
                        <p>
                            Copyright 2022 <a href="#">Bid Out</a> | Design By <a href="https://www.egenslab.com/"
                                                                                  class="egns-lab">Egens Lab</a>
                        </p>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center align-items-center flex-sm-nowrap flex-wrap">
                        <p class="d-sm-flex d-none">We Accepts:</p>
                        <ul class="footer-logo-list">
                            <li><a href="#"><img src="~/assets/images/bg/footer-pay1.png" alt=""></a></li>
                            <li><a href="#"><img src="~/assets/images/bg/footer-pay2.png" alt=""></a></li>
                            <li><a href="#"><img src="~/assets/images/bg/footer-pay3.png" alt=""></a></li>
                            <li><a href="#"><img src="~/assets/images/bg/footer-pay4.png" alt=""></a></li>
                            <li><a href="#"><img src="~/assets/images/bg/footer-pay5.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/jquery.nice-select.js"></script>
    <script src="~/assets/js/odometer.min.js"></script>
    <script src="~/assets/js/viewport.jquery.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
