@inject ICategoryService categoryService

@{
    var categories = categoryService.GetAllCategories<CategoryListModel>();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/register-page.css">
    <link rel="icon" href="~/assets/images/bg/sm-logo.png" type="image/gif" sizes="20x20">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/all.css">
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/odometer.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body>
    @*<div class="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>*@
    <header class="header-area style-1">
        <div class="header-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index"><span>AUCTION EXPERT</span></a>
        </div>
        <div class="main-menu">
            <div class="mobile-logo-area d-lg-none d-flex justify-content-between align-items-center">
                <div class="mobile-logo-wrap ">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><span>AUCTION EXPERT</span></a>
                </div>
                <div class="menu-close-btn">
                    <i class="bi bi-x-lg"></i>
                </div>
            </div>
            <ul class="menu-list">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="menu-item-has-children">
                    <a class="drop-down">Categories</a><i class='bx bx-plus dropdown-icon'></i>
                    <ul class="submenu">
                        @foreach (var category in categories)
                        {
                            <li><a asp-area="" asp-controller="Auction" asp-action="Browse" asp-route-categoryId="@category.Id">@category.Name</a></li>   
                        }
                    </ul>
                </li>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-area="" asp-controller="Auction" asp-action="Sell">Sell</a>
                    </li>
                }
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="How">How It Works</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="">Contact</a>
                </li>
                @if (this.User.IsInRole("Administrator"))
                {
                    <li class="menu-item-has-children">
                        <a>Admin Dashboard</a><i class='bx bx-plus dropdown-icon'></i>
                        <ul class="submenu">
                            <li><a asp-area="Administration" asp-controller="Users" asp-action="All">Users Administration</a></li>
                            <li><a asp-area="Administration" asp-controller="Auctions" asp-action="All">Auctions Administration</a></li>
                            <li><a asp-area="Administration" asp-controller="Countries" asp-action="All">Countries Administration</a></li>
                        </ul>
                    </li>
                }
            </ul>
            <div class="d-lg-none d-block">
                <form class="mobile-menu-form">
                    <div class="input-with-btn d-flex flex-column">
                        <input type="text" placeholder="Search here...">
                        <button type="submit" class="eg-btn btn--primary btn--sm">Search</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="nav-right d-flex align-items-center">
            <div class="search-btn">
                <i class="bi bi-search"></i>
            </div>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="nav-right d-flex align-items-center">
                    <div class="eg-btn btn--primary header-btn">
                        <a asp-area="" asp-controller="User" asp-action="MyAuctions">Hello, @this.User.Identity.Name</a>
                    </div>
                </div>
            }
            else
            {
                <div class="nav-right d-flex align-items-center">
                    <div class="eg-btn btn--primary header-btn">
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                </div>
            }
            <div class="mobile-menu-btn d-lg-none d-block">
                <i class='bx bx-menu'></i>
            </div>
        </div>
    </header>
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @this.RenderBody()
        </main>
    </div>
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <p>
                                Enter your email adress so we can send you weekly bulletin with recommended auctions.
                                We hope this will help you to find items you are looking for.
                            </p>
                            <form>
                                <div class="input-with-btn d-flex jusify-content-start align-items-strech">
                                    <input type="text" placeholder="Enter your email">
                                    <button type="submit"><img src="~/assets/images/icons/send-icon.svg"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex justify-content-lg-center">
                        <div class="footer-item">
                            <h5>Navigation</h5>
                            <ul class="footer-list">
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-area="" asp-controller="User" asp-action="MyProfile">My Account</a></li>
                                }
                                else
                                {
                                    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                                }
                                <li><a asp-area="" asp-controller="Home" asp-action="How">How It Works</a></li>
                                <li><a asp-area="" asp-controller="Auction" asp-action="Sell">Sell</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" id="antiForgeryForm"></form>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>

    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/jquery.nice-select.js"></script>
    <script src="~/assets/js/odometer.min.js"></script>
    <script src="~/assets/js/viewport.jquery.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
    @await this.Component.InvokeAsync("NToastNotify")
</body>
</html>
