@using AuctionExpert.Web.ViewModels.Shared;
@model PagingViewModel

<div class="table-pagination justify-content-center">
    <nav class="pagination-wrap">
        <ul class="pagination style-one d-flex gap-md-3 gap-2">
            <li class="page-item @if(!Model.HasPreviousPage) { <text>disabled</text> }">
                <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Prev</a>
            </li>
            @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <a class="page-link" asp-action="All" asp-route-id="@i">@i</a>
                }
            }
            <li class="page-item active" aria-current="page">
                <a class="page-link">@Model.PageNumber</a>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <a class="page-link" asp-action="All" asp-route-id="@i">@i</a>
                }
            }
            <li class="page-item @if(!Model.HasNextPage) { <text>disabled</text> }">
                <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Next</a>
            </li>
        </ul>
    </nav>
</div>